<div class="sidebar">
    <h2>Recent Posts</h2>
    <ul>
        <li><a href="pages/blog.html#post1">Understanding Modern Web Development</a></li>
        <li><a href="pages/blog.html#post2">Top 10 JavaScript Frameworks in 2023</a></li>
        <li><a href="pages/blog.html#post3">A Guide to Responsive Design</a></li>
        <li><a href="pages/blog.html#post4">CSS Grid vs Flexbox: Which One to Use?</a></li>
        <li><a href="pages/blog.html#post5">Building Accessible Websites</a></li>
    </ul>
    
    <h2>Categories</h2>
    <ul>
        <li><a href="pages/blog.html?category=web-development">Web Development</a></li>
        <li><a href="pages/blog.html?category=design">Design</a></li>
        <li><a href="pages/blog.html?category=javascript">JavaScript</a></li>
        <li><a href="pages/blog.html?category=css">CSS</a></li>
        <li><a href="pages/blog.html?category=accessibility">Accessibility</a></li>
    </ul>
    
   <h2>Follow Us</h2>
<ul class="social-media">
    <li><a href="https://twitter.com" target="_blank" rel="noopener">Twitter</a></li>
    <li><a href="https://facebook.com" target="_blank" rel="noopener">Facebook</a></li>
    <li><a href="https://instagram.com" target="_blank" rel="noopener">Instagram</a></li>
    <li><a href="https://linkedin.com" target="_blank" rel="noopener">LinkedIn</a></li>
</ul>
</div>